/* Center the content */
.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  /* Style the content */
  .about-content {
    padding: 2rem;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    transition: transform 0.3s; /* Add transition for the jiggle effect */
  }
  
  .about-content:hover {
    animation: jiggle 0.5s ease-in-out infinite; /* Apply the jiggle animation on hover */
  }
  
  @keyframes jiggle {
    0%, 100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-2px);
    }
    50% {
      transform: translateX(2px);
    }
    75% {
      transform: translateX(-2px);
    }
  }
  
  .about-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .about-paragraph {
    font-size: 1rem;
    line-height: 1.6;
    font-family: 'Arial', sans-serif; /* Change font family */
  }
  
  .rounded-image {
    border-radius: 50%;
  width: 100%; /* Set the image width */
  max-width: 500px; /* Set maximum width for responsiveness */
  height: auto;
  aspect-ratio: 1/1; /* Ensure a 1:1 aspect ratio for a proper round image */
  transition: transform 0.5s, box-shadow 0.5s; /* Add transitions */
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
  object-fit: cover; /* Prevent image distortion */
  }
  
  .rounded-image:hover {
    transform: scale(1.1); /* Scale up on hover */
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.5); /* Adjust shadow on hover */
  }
  