.projects-container {
    padding: 40px;
    margin: 10px;
    display: flex;
    align-items:center;
  }
  
  .project-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }


  