/* ProjectCard.css */
.project-card {
  margin: 20px;
  transition: transform 0.3s;
}

.project-card:hover {
  transform: translateY(-10px);
}

.project-card .card {
  border: none;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.project-card:hover .card {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

.project-card .card-title {
  font-size: 18px;
  font-weight: bold;
}

.project-card .card-text {
  margin-top: 10px;
  font-size: 14px;
}

.project-card .project-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.project-card .card {
  background: rgba(74, 144, 226, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.image-container {
  background: transparent;
  border-radius: 10px; /* Adjust the radius as needed */
  overflow: hidden; /* Clip the content that goes beyond the rounded corners */
}

.project-card .project-buttons a {
  display: inline-block;
  padding: 8px 16px;
  margin: 10px;
  font-size: 14px;
  text-decoration: none;
  background-color: #dcedff74;
  color: rgb(0, 0, 0);
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.3s;
}

.project-card .project-buttons a:hover {
  background-color: #dcedff74;
  transform: translateY(-2px);
}

/* Additional styling */
.project-card .card {
  overflow: hidden;
}

.project-card .card-img-top {
  max-height: 200px; /* Set a maximum height for the project images */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  transition: transform 0.3s;
}

.project-card:hover .card-img-top {
  transform: scale(1.05);
}

/* ... (rest of your styles) */
