/* ProjectCard.css */
.project-card {
    margin: 20px;
    transition: transform 0.3s;
  }
  
  .project-card:hover {
    transform: translateY(-10px);
  }
  
  .project-card .card {
    border: none;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
  }
  
  .project-card:hover .card {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  }
  
  .project-card .card-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .project-card .card-text {
    margin-top: 10px;
    font-size: 14px;
  }
  
  .project-card .project-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  .project-card .card {
    background-color: rgba(220, 208, 208, 0.9); /* Change the background color to a semi-transparent white */
    border: none;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
  }
  
  
  .project-card .project-buttons a {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    text-decoration: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .project-card .project-buttons a:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
  }
  
  /* Additional styling */
  .project-card .card {
    overflow: hidden;
  }
  
  .project-card .card-img-top {
    transition: transform 0.3s;
  }
  
  .project-card:hover .card-img-top {
    transform: scale(1.05);
  }
  
  .project-card .project-buttons a:first-child {
    background-color: #28a745;
  }
  
  .project-card .project-buttons a:first-child:hover {
    background-color: #218838;
  }
  
  .project-card .project-buttons a:last-child {
    background-color: #dc3545;
  }
  
  .project-card .project-buttons a:last-child:hover {
    background-color: #c82333;
  }

  .project-card .card-title {
    font-size: 18px;
    font-weight: bold;
    transition: transform 0.3s; /* Adding a transition for smooth effect */
  }
  
  .project-card .card-title:hover {
    transform: scale(1.1); /* Applying transform on hover */
  }
  